* {
	font-family: "微软雅黑";
}

/* topm_menu */
#top_menu {
	position: relative;
	margin: 0px auto auto auto;
	padding: 4px 20px 2px 150px;
	/*font-family: "微软雅黑";*/
	font-size: 8px;
	background-color: #DCDCDC;/*#DCD*/
	border-bottom: 1px solid #999999;
}

#top_menu a{
	color: gray;
	margin-left: 10px;
}

a{
	text-decoration:none;
}

body,html,div {
	margin: 0;
	padding: 0;
}

.bg-faded {
	background-color:#f7f7f9
}

.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 68%;
}
/* 导航 */
.navbar {
	/*display: none;*/
}
/* LOGO */
.navbar-brand {
	color: rgba(0,0,0,.8);
	float: left;
	padding-top: .25rem;
	padding-bottom: .25rem;
	margin-right: 1rem;
	font-size: 1.25rem;
}
.navbar-brand:focus {
	color: rgba(0,0,0,.8);
}
.navbar-brand:focus,.navbar-brand:hover {
	text-decoration: none;
}

/* 导航 */
.nav-right {
	float: right!important;
	margin-top: 1.5rem;
}
.nav-item {
	display: inline-block;
	margin-left: 1rem;
	margin-bottom: -1px;
	/*color: #55595c;
	background-color:#fff;*/
	border-color: #ddd transparent
}
.nav-link {
	display: inline-block;
	margin-left: 1rem;
	color:#55595c;
}

/* 二级导航 */
.list-menu ul {
	list-style-type: none;
	display: block;
}  
.list-menu ul li {
	float: left;
	display: list-item;
    text-align: left;
    width: 100px;
    }  
.list-menu ul li ul{  
    display: none;
    position: absolute;  
}
.list-menu ul li ul li {
	float: none;
}
.list-menu ul li ul li a {
	border-right:none;
	border-top:1px dotted #ccc;
	background:#f5f5f5;
	color:#55595c;
}
.list-menu li:hover ul{  
    display:block;  
}

.row {
	margin-left: -15px;
	margin-right: -15px;
}
.row::after {
	content: "";
	display: table;
	clear: both;
}

/*底部*/
#footer {
	/*position: relative;*/
	width: 65%;
	/*border-top: 2px #fe884f solid;*/
	text-align: center;
	margin: 0 auto;
	color: #909090;
	padding-bottom: 30px;
	font-size: 8px;
	margin-bottom: 0px;
}
footer a {
	color: #55595c;
}
.link {
	font-size: 14px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-top:1px #9c9c9c dotted;
	border-bottom: 2px #fe884f solid;
}
.link a {
	color: #55595c;
}
.link a:hover {
	color: #0161bd;
}


/* 响应式布局部分 */

/* 当浏览器的可视区域小于980px */
@media screen and (max-width: 980px) {
#top_menu{padding-left: 50px;font-size: 12px;}
}
/* 当浏览器的可视区域小于650px */
@media screen and (max-width: 650px) {
#top_menu{padding-left: 20px;font-size: 14px;}
}

/* 禁用iPhone中Safari的字号自动调整 */
html {
-webkit-text-size-adjust: none;
}
/* 设置HTML5元素为块 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
display: block;
}
/* 设置图片视频等自适应调整 */
img {
max-width: 100%;
height: auto;
width: auto\9; /* ie8 */
}
.video embed, .video object, .video iframe {
width: 100%;
height: auto;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
	width: 12px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4);
}